# EditorConfig is awesome: https://EditorConfig.org
root = true

# Global settings
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Dart/Flutter specific settings
[*.dart]
indent_style = space
indent_size = 2

# YAML (e.g. pubspec.yaml, analysis_options.yaml)
[*.yaml]
indent_style = space
indent_size = 2

# Other file types
[*.md]
trim_trailing_whitespace = false